<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info" id="banner">
            <h4 class="card-title">Motivo Novedades</h4>
            <p class="card-category">Gestion Motivo Novedades</p>
          </div>

          <hr>

          <div class="card-body">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h6 class="text-info">Añadir Motivo Novedad</h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- ---------------------------------------------------------------------------------------------------->

                    <h5 class="titulo-añadir"><strong>Añadir Motivo Novedad</strong></h5>
                
                    <form #registrarMotivoNovedad="ngForm" (ngSubmit)="registrarMotivoNovedades()" [noValidate]="false">
                      <div class="row">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nombre" type="tetx" name="nombre"  required />
                              </mat-form-field>
                            </div>

                            <div class="col-2">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Cantidad " type="number" id="limite_cantidad" min="0" matTooltip="Cuantas veces se puede pedir"  matTooltipClass="tooltipText" name="limite_cantidad" ngModel required />
                              </mat-form-field>
                            </div>
                            <div class="col-2">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Cantidad de dias" matTooltip="Cuantos dias se pagan"  matTooltipClass="tooltipText" type="number" min="0" id="cantidad_dias_pagos" name="cantidad_dias_pagos" ngModel required />
                              </mat-form-field>
                            </div>
                            
                            <div class="col-4">
                              <mat-form-field class="example-full-width">
                                <mat-select
                                  placeholder="Tipo de pago"
                                  name="id_tipo_pago"
                                  ngModel
                                  (selectionChange)="filtrarTipoPago($event.value)"
                                >
                                  <mat-option
                                    [value]="d.id"
                                    *ngFor="let d of tipoPago"
                                  >
                                    {{ d.nombre }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            
                          </div>
                        </div>
                      </div>
    
                      <div class="row">
                        <div class="col-12">
                          <div class="row">
                        
                              <div class="col-2 d-flex align-items-center">
                                <mat-checkbox [(ngModel)]="mostrarFechas" [ngModelOptions]="{standalone: true}" >Fecha especifica</mat-checkbox>
                              </div>
                           
                              <div class="col-2">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Cuantos meses" type="number" min="0" id="cada_cuantos_meses" matTooltip="Cada cuantos meses se puede pedir el permiso"  matTooltipClass="tooltipText" name="cada_cuantos_meses"
                                         [(ngModel)]="cadaCuantosMeses" [disabled]="mostrarFechas" required />
                                </mat-form-field>
                              </div>
                            
                              <div class="col-3" [hidden]="!mostrarFechas">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="fecha inicio" type="date" id="fecha_inicio" name="fecha_inicio" ngModel required />
                                </mat-form-field>
                              </div>
                            
                              <div class="col-3" [hidden]="!mostrarFechas">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="fecha fin" type="date" id="fecha_fin" name="fecha_fin" ngModel required />
                                </mat-form-field>
                              </div>

                            


                            <div class="col-12">
                              <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Ingrese una descripción" rows="3" name="descripcion" ngModel required></textarea>
                              </mat-form-field>
                            </div>
    
    
    
                              <!-- <div class="col-4">
                                <mat-form-field class="example-full-width">
                                  <input type="text" matInput name="tipo_personal" id="tipo_personal" (input)="autoCompletarTipo($event.target.value)"  ngModel required placeholder="Tipo Personal" [matAutocomplete]="tipoPersonal">
                                  <mat-autocomplete #tipoPersonal="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions" [value]="option">
                                      {{ option }}
                                    </mat-option>
                                  </mat-autocomplete>
                                </mat-form-field>
                              </div> -->
                            
    
                          </div>
                       
                          <div class="row">
                            <div class="col">
    
                              <div class="d-flex justify-content-start">
                                <button mat-raised-button type="submit" class="btn btn-success rounded-pill text-center mr-2" id="button-guardar">
                                  Guardar
                                </button>
                        
                                <button mat-raised-button type="reset" class="btn btn-danger rounded-pill text-center" id="button-limpiar" (click)="limpiarFormulario()">
                                  Limpiar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
    
                    </form>

                  </mat-expansion-panel>

                </mat-accordion>
                
                <!-- ----------------------------------------------------------------------------------------------->
                <hr>
                
                <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h6 class="text-info">Añadir Motivo Novedad</h6>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <div class="row align-items-center">
                        <div class="col-12">
                          <div class="table-responsive">
                            <table mat-table [dataSource]="dataSourceMotivosNovedaes" class="table thead-dark">

                              <ng-container matColumnDef="id_motivo">
                                <th mat-header-cell *matHeaderCellDef class="tabla-header text-center titulo-grande"> *
                                </th>
                                <td mat-cell class="text-center" *matCellDef="let element"> {{element.id_motivo}} </td>
                              </ng-container>

                              <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef class="tabla-header text-center titulo-grande">
                                  Nombre </th>
                                <td mat-cell class="text-center" *matCellDef="let element"> {{element.nombre}} </td>
                              </ng-container>

                              <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef class="tabla-header text-center titulo-grande">
                                  Descripcion </th>
                                <td mat-cell class="text-center" *matCellDef="let element"> {{element.descripcion}} </td>
                              </ng-container>

                              <ng-container matColumnDef="limite_cantidad">
                                <th mat-header-cell *matHeaderCellDef class="tabla-header text-center titulo-grande">
                                  Limite cantidad </th>
                                <td mat-cell class="text-center" *matCellDef="let element"> {{element.limite_cantidad}} </td>
                              </ng-container>

                              <ng-container matColumnDef="cada_cuantos_meses">
                                <th mat-header-cell *matHeaderCellDef class="tabla-header text-center titulo-grande">
                                  Cada cuando </th>
                                <td mat-cell class="text-center" *matCellDef="let element"> {{element.cada_cuantos_meses}} </td>
                              </ng-container>

                              <ng-container matColumnDef="fecha_inicio">
                                <th mat-header-cell *matHeaderCellDef class="tabla-header text-center titulo-grande">
                                  Inicio </th>
                                <td mat-cell class="text-center" *matCellDef="let element"> {{element.fecha_inicio}} </td>
                              </ng-container>

                              <ng-container matColumnDef="fecha_fin">
                                <th mat-header-cell *matHeaderCellDef class="tabla-header text-center titulo-grande">
                                  Fin </th>
                                <td mat-cell class="text-center" *matCellDef="let element"> {{element.fecha_fin}} </td>
                              </ng-container>

                              <ng-container matColumnDef="cantidad_dias_pagos">
                                <th mat-header-cell *matHeaderCellDef class="tabla-header text-center titulo-grande">
                                  Dias pagos </th>
                                <td mat-cell class="text-center" *matCellDef="let element"> {{element.cantidad_dias_pagos}} </td>
                              </ng-container>

                              <ng-container matColumnDef="id_tipo_pago">
                                <th mat-header-cell *matHeaderCellDef class="tabla-header text-center titulo-grande">
                                  Tipo de pago </th>
                                <td mat-cell class="text-center" *matCellDef="let element"> {{element.id_tipo_pago}} </td>
                              </ng-container>

                              <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef class="tabla-header text-center titulo-grande">
                                  Acciones</th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                  <div class="acciones-container">

                                    <!--botones -->

                                    <button class="btn btn-info rounded-pill" (click)="traerMotivosNovedad(element)"
                                      matTooltip="Editar Novedad" matTooltipPosition="above"
                                      matTooltipClass="tooltipText">
                                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>

                                    <button class="btn btn-danger rounded-pill " (click)="eliminarMotivoNovedad(element)"
                                      mat-raised-button matTooltip="Eliminar Motivo" matTooltipPosition="above"
                                      matTooltipClass="tooltipText">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                  </div>
                                </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                              <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="6">
                                  No hay información</td>
                              </tr>

                            </table>
                            <mat-paginator [hidden]="dataSourceMotivosNovedaes.data.length < 1" class="mat-elevation-z8"
                              #paginatorMotivoNovedad [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
                            </mat-paginator>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>


              </mat-expansion-panel>

            </mat-accordion>

          </div>
        </div>
      </div>
    </div>
  </div>