 .card{
    background: #e8e8e8; 
    font-size: 18px; 
    border-radius: 25px;
  }

#banner{
    border-radius: 25px;
    background: #ffe203;
}


.card-title{
    color: #1b4f35 !important;
    font-weight: bold;
    font-size: 21px;
}

.card-category{
  color: #1b4f35 !important;
  font-weight: bold;
  font-size: 14px;
}

.card-body{
    border-radius: 25px;
}


.text-info{
    color: #359b68 !important;
    font-weight: 900;
}

.text-white{
  color: #ffffff !important;
  font-weight: 900;
}

.titulo-grande {
    font-size: 1rem; 
    color:  #000000c5 !important;
  }

.mat-table {
    width: 100%; 
    margin-bottom: 20px; 
  }
  

  .table-responsive {
    overflow-x: auto;
  }

.tabla-header {
    background-color: #ebebeb8c; 
    color: rgb(0, 0, 0); 
    border-bottom: 2px solid white; 
    padding: 8px; 
  }

  .acciones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
  }

  ::ng-deep .tooltipText {
    transform: scale(1);
    font-size: medium;
}


  /*---------------------------------------------------------------------------------------------------------------*/
   .añadir-cargo-container {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .titulo-añadir {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .example-full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  
  #button-guardar:hover {
    background-color:rgba(8, 194, 8, 0.37) !important;
    border-color: green !important;
  }

  #button-limpiar:hover {
    background-color:rgba(226, 11, 11, 0.37) !important;
    border-color: rgb(128, 0, 0) !important;
  } 


  .mat-accordion .mat-expansion-panel:last-of-type{
    border-radius: 25px;
}

