<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header card-header-info" id="banner">
            <h4 class="card-title">Registrar usuarios</h4>
          </div>

          <div class="card-body">
            <mat-accordion>
              <mat-expansion-panel hideToggle> </mat-expansion-panel>
              <mat-expansion-panel>

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h6 class="text-info">Cargos</h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                
                <div class="row">


                  <!-- ------------- -->
                  <!-- Pestaña de cargos -->
<!-- no es un form es una lista -->
                  <div class="col-4">
                    <mat-form-field class="example-full-width">
                      <mat-select placeholder="Cargo" id="cargos" name="cargos" ngModel required>
                        <mat-option [value]="m.id_cargo" *ngFor="let m of Cargos">
                          {{ m.cargo }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <!-- Añadir Cargo -->

                  <!-- ------------- -->
                  <div class="col-4">
                  <h5><strong>Añadir cargo</strong></h5>

                  <form #registrarCargo="ngForm" (ngSubmit)="registrarCargos()" [noValidate]="false">

                    
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Cargo" type="text" name="cargo" ngModel required />
                      </mat-form-field>
                      <button mat-raised-button type="submit" class="btn btn-info pull-right" id="button-guardar"
                        (click)="registrarCargos">
                        Guardar
                      </button>
                    </form>
                    </div>




                  <!-- Eliminar y llamar cargo -->
                  <!-- ------------- -->
                  <div class="col-4">
                    <h5><strong>Seleccionar Cargo</strong></h5>
                    <div class="row">
                      <div class="col">
                        <input
                          class="formdata text-center form-control align-baseline mt-2"
                          placeholder="Id cargo"
                          type="number"
                          max="1000"
                          [(ngModel)]="consulta_cargos"
                        />
                      </div>
                      
                      <!-- <button
                        class="btn btn-info text-center col-9"
                        id="button-consultar"
                        (click)="traerCargos()"                      >
                        Consultar                        
                      </button> -->
                      <button
                        class="btn btn-info traer-cargos col"
                        id="button-consultar"
                        (click)="traerCargos()" 
                        >Consultar
                      </button>
                      <div class="col d-flex align-items-end d-flex justify-content-end" *ngIf="consultar == true">
                      </div>
                  </div>
                  </div>


                </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>