<div class="container-fluid">
  <!-- Modal Body 1 -->
  <div class="modal fade show" style="display: block" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" [ngClass]="usuarioEncontrado?'modal-xl':''" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center header-logo mt-4 mx-4 rounded">
          <img class="card-img-top align-self-center" [ngClass]="usuarioEncontrado?'w-25':''" src="./assets/img/Banner Nexus.png" alt="Logo" />
        </div>
        <div class="modal-body">
          <form *ngIf="!usuarioEncontrado" #formularioCarnet="ngForm" (ngSubmit)="BuscarPersonal(formularioCarnet)" [noValidate]="false">
            <strong>
              <h4 class="text-center">Consulta Novedades</h4>
            </strong>
            <hr class="mt-2">
            <div class="mx-3">
              <p for="documento">Número de documento</p>
              <input type="number" name="documento" id="documento"
                class="py-4 form-control border border-secondary rounded text-center"
                placeholder="Numero de documento" [(ngModel)]="documento" required>
            </div>
            <br>
            <div class="mx-3">
              <button type="submit" *ngIf="!spinner" class="w-100 btn rounded"
                style="background-color: #1b4f35;">Buscar persona</button>
              <button *ngIf="spinner" class="w-100 btn rounded" style="background-color: #1b4f35;" disabled>
                <div class="spinner-border text-light spinner-border-sm py-0 my-0" role="status">
                  <span class="sr-only">Buscando...</span>
                </div>
              </button>
              <a routerLink="/" class="text-secondary" *ngIf="conToken()">Volver al inicio</a>
            </div>
          </form>
          <div *ngIf="usuarioEncontrado">
            <div class="card-header card-header-info card-header-custom" *ngIf="usuarioEncontrado && userData">
              <h5 class="card-title">{{ userData.nombreCompleto }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                Identificación: {{ userData.identificacion }} | Cargo: {{ userData.cargo }}
              </h6>
            </div>
        
            <form #registrarNovedades="ngForm" class="mx-3" (ngSubmit)="registrarNovedad()" [noValidate]="false">
        
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-2">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fecha Inicio" type="datetime-local" id="fecha_inicio" name="fecha_inicio"
                          ngModel required />
                      </mat-form-field>
                    </div>
        
                    <div class="col-2">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fecha Fin" type="datetime-local" id="fecha_fin" name="fecha_fin" ngModel
                          required />
                      </mat-form-field>
                    </div>
        
                    <div class="col-2">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Motivo" type="text" id="id_motivo" name="id_motivo" ngModel required />
                      </mat-form-field>
                    </div>
        
                    <div class="col-2">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Pago" type="text" id="tipo_pago" name="tipo_pago" ngModel required />
                      </mat-form-field>
                    </div>
        
                    <div class="col-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Observacion" type="text" id="observacion" name="observacion" ngModel
                          required />
                      </mat-form-field>
                    </div>
        
                  </div>
                </div>
              </div>
        
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Correo" type="text" id="correo_notificacion" name="correo_notificacion"
                          ngModel required />
                      </mat-form-field>
                    </div>
                    <div class="col-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Personal" type="text" id="id_personalvinculado" name="id_personalvinculado"
                          ngModel required />
                      </mat-form-field>
                    </div>
                    <div class="col-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Documento" type="text" id="tipo_documento" name="tipo_documento" ngModel
                          required />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Firma</span>
                      <input type="file" class="form-control" id="file-upload" (change)="onFileSelected($event)"
                        accept=".png, .jpg" required>
                    </div>
                  </div>
        
                  <hr>
                </div>
        
                <div>
        
                </div>
        
                
              </div>

              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-info rounded-pill" *ngIf="conToken()" (click)="retroceder()">Volver atras</button>
                </div>
                <div class="col">
                  <button mat-raised-button type="submit" class="btn btn-success rounded-pill text-center pull-right"
                    id="button-guardar">
                    Guardar
                  </button>
                  <button mat-raised-button type="reset" class="btn btn-danger rounded-pill text-center pull-right"
                    id="button-limpiar" (click)="limpiarFormulario()">
                    Limpiar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Body 2 -->
  <!-- <ng-container *ngIf="usuarioEncontrado; else body2Template">
    <div class="card-header card-header-info card-header-custom" *ngIf="usuarioEncontrado && userData">
      <h5 class="card-title">{{ userData.nombreCompleto }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Identificación: {{ userData.identificacion }} | Cargo: {{ userData.cargo }}
      </h6>
    </div> -->
    <!-- <hr>

    <h5><strong>Buscar novedad</strong></h5>
    <div class="row">
      <div class="col-3">
        <input class="formdata text-center form-control align-baseline mt-2" placeholder="Buscar"
          type="number" max="1000" [(ngModel)]="consulta_novedades" />
      </div>

      <button class="btn btn-info rounded-pill text-center col-3" id="button-consultar"
        (click)="traerNovedades()">
        Consultar
      </button>
    </div>

    <hr/> -->

    <!-- <form #registrarNovedades="ngForm" (ngSubmit)="registrarNovedad()" [noValidate]="false">

      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-2">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Fecha Inicio" type="datetime-local" id="fecha_inicio" name="fecha_inicio"
                  ngModel required />
              </mat-form-field>
            </div>

            <div class="col-2">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Fecha Fin" type="datetime-local" id="fecha_fin" name="fecha_fin" ngModel
                  required />
              </mat-form-field>
            </div>

            <div class="col-2">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Motivo" type="text" id="id_motivo" name="id_motivo" ngModel required />
              </mat-form-field>
            </div>

            <div class="col-2">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Pago" type="text" id="tipo_pago" name="tipo_pago" ngModel required />
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Observacion" type="text" id="observacion" name="observacion" ngModel
                  required />
              </mat-form-field>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Correo" type="text" id="correo_notificacion" name="correo_notificacion"
                  ngModel required />
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Personal" type="text" id="id_personalvinculado" name="id_personalvinculado"
                  ngModel required />
              </mat-form-field>
            </div>
            <div class="col-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Documento" type="text" id="tipo_documento" name="tipo_documento" ngModel
                  required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text" id="inputGroup-sizing-sm">Firma</span>
              <input type="file" class="form-control" id="file-upload" (change)="onFileSelected($event)"
                accept=".png, .jpg" required>
            </div>
          </div>

          <hr>
        </div>

        <div>

        </div>

        <div class="row">
          <div class="col">
            <button mat-raised-button type="submit" class="btn btn-success rounded-pill text-center derecha"
              id="button-guardar">
              Guardar
            </button>
            <button mat-raised-button type="reset" class="btn btn-danger rounded-pill text-center derecha"
              id="button-limpiar" (click)="limpiarFormulario()">
              Limpiar
            </button>
          </div>
        </div>
      </div>


    </form>

    <hr>

    <table mat-table [dataSource]="dataSourceNovedades" class="mat-elevation-z8 w-100 text-center">

      <ng-container matColumnDef="id_novedad">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break "> * </th>
        <td mat-cell *matCellDef="let element" class="col-1"> {{element.id_novedad}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha_inicio">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Fecha Inicio </th>
        <td mat-cell *matCellDef="let element" class="col-1"> {{element.fecha_inicio}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha_fin">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Fecha Fin</th>
        <td mat-cell *matCellDef="let element" class="col-1"> {{element.fecha_fin}} </td>
      </ng-container>

      <ng-container matColumnDef="id_motivo">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break"> id Motivo </th>
        <td mat-cell *matCellDef="let element" class="col-1"> {{element.id_motivo}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo_pago">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Tipo Pago </th>
        <td mat-cell *matCellDef="let element" class="col-1"> {{element.tipo_pago}} </td>
      </ng-container>

      <ng-container matColumnDef="observacion">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Observacion </th>
        <td mat-cell *matCellDef="let element" class="col-1"> {{element.observacion}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha_creacion">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Fecha Creacion </th>
        <td mat-cell *matCellDef="let element" class="col-1"> {{element.fecha_creacion}} </td>
      </ng-container>

      <ng-container matColumnDef="correo_notificacion">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Correo Notificacion </th>
        <td mat-cell *matCellDef="let element" class="col-1"> {{element.correo_notificacion}} </td>
      </ng-container>

      <ng-container matColumnDef="id_personalvinculado">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break"> id personal vinculado</th>
        <td mat-cell *matCellDef="let element" class="col-1"> {{element.id_personalvinculado}} </td>
      </ng-container>

      <ng-container matColumnDef="firma_vinculado">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Firma vinculado</th>
        <td mat-cell *matCellDef="let element" class="col-1"> {{element.firma_vinculado}} </td>
      </ng-container>

      <ng-container matColumnDef="tipo_documento">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Tipo Documento</th>
        <td mat-cell *matCellDef="let element" class="col-1"> {{element.tipo_documento}} </td>
      </ng-container>


      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Accion </th>
        <td mat-cell *matCellDef="let element" class="col-1">
          <button *ngIf="!element.estado && !cambiandoEstado" class="btn btn-success w-100 rounded-pill"
            (click)="cambiarEstadoPersonal(element)">
            Activar
          </button>
          <button *ngIf="element.estado && !cambiandoEstado" class="btn btn-danger w-100 rounded-pill"
            (click)="cambiarEstadoPersonal(element)">
            Inactivar
          </button>
          <button *ngIf="cambiandoEstado" class="btn btn-info w-100 rounded-pill">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row text-center" *matNoDataRow>
        <td class="mat-cell text-center" colspan="6">No hay información</td>
      </tr>


    </table>

    <mat-paginator [hidden]="dataSourceNovedades.data.length < 1" class="mat-elevation-z8" #paginatorPersonal
      [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
    </mat-paginator>

    <br>


  </ng-container> -->

  <!-- <ng-template #body2Template> -->
    <!-- Puedes poner aquí el contenido específico para cuando el usuario no es encontrado -->
    <!-- Por ejemplo, mostrar un mensaje indicando que el usuario no fue encontrado -->
  <!-- </ng-template> -->
</div>