<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-header-info" id="banner">
                        <h4 class="card-title">Tipos de pago de novedad</h4>
                    </div>
                    <div class="card-body">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle> </mat-expansion-panel>
                            <mat-expansion-panel [expanded]="panelOpenState">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <h6 class="text-info">Registro de tipo</h6>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                
                                <!--formulario de tipo-->
                                <form #formularioUsuarios="ngForm" (ngSubmit)="registrarTipo()" [noValidate]="false">
                                    <div class="row">
                                        <div class="col-8">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <th>#</th>
                                                    <td>Nombre</td>
                                                    <td>Descripcion</td>
                                                    <td>Acciones</td>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>1</th>
                                                        <td>nombre 1</td>
                                                        <td>des</td>
                                                        <td>
                                                            <button class="btn">Editar</button>
                                                            <button class="btn">Inhabilitar</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-4">
                                            <mat-form-field>
                                                <input matInput placeholder="Nombre del tipo" type="text" name="nombre" ngModel required />
                                            </mat-form-field>

                                            <mat-form-field>
                                                <textarea matInput  placeholder="Descripcion del tipo " type="text" name="descripcion" ngModel required></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <button mat-raised-button type="submit" class="btn btn-success rounded-pill pull-right"
                                        id="button-guardar">
                                        Guardar
                                    </button>
                                    <button mat-raised-button type="reset" class="btn btn-danger rounded-pill pull-right"
                                        id="button-limpiar" (click)="limpiarFormulario()">
                                        Limpiar
                                    </button>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <hr>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>