<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info" id="banner">
            <h4 class="card-title">Carnet</h4>
            <p class="card-category">Gestion de carnets</p>
          </div>

          <div class="card-body">

            <hr>
            <!-- _____________________________________________________________________________________________________________________________________ -->

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h6 class="text-info">Añadir Personal</h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <h5><strong>Buscar persona por su identificacion</strong></h5>
                <div class="row">
                  <div class="col-3">
                    <input class="formdata text-center form-control align-baseline mt-2" placeholder="Identificacion"
                      type="number" max="1000" [(ngModel)]="consulta_personal" />
                  </div>

                  <button class="btn btn-info rounded-pill text-center col-3" id="button-consultar"
                    (click)="traerPersonal()">
                    Consultar
                  </button>


                </div>

                <hr />

                <form #registrarPersona="ngForm" (ngSubmit)="registrarPersonal()" [noValidate]="false">
                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Nombres" type="text" id="nombre" name="nombre" ngModel
                              required />
                          </mat-form-field>
                        </div>
                        <div class="col-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Apellidos" type="text" id="apellido" name="apellido" ngModel
                              required />
                          </mat-form-field>
                        </div>
                        <div class="col-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Identificacion" type="text" id="identificacion"
                              name="identificacion" ngModel required />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Cargo" type="text" id="cargo" name="cargo" ngModel required />
                          </mat-form-field>
                        </div>
                        <div class="col-3">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="RH" type="text" id="rh" name="rh" max="3" ngModel required />
                          </mat-form-field>
                        </div>




                      </div>
                      <hr>
                      <div class="row">
                        <div class="col">

                          <button mat-raised-button type="submit"
                            class="btn btn-success rounded-pill text-center derecha" id="button-guardar">
                            Guardar
                          </button>
                          <button mat-raised-button type="reset" class="btn btn-danger rounded-pill text-center derecha"
                            id="button-limpiar" (click)="limpiarFormulario()">
                            Limpiar
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
                





              </mat-expansion-panel>

            </mat-accordion>


            <hr>
            
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">



                <mat-expansion-panel-header (click)="tablaPersonal()">

                  <mat-panel-title>
                    <h6 class="text-info">Tabla Personal</h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>



                <mat-form-field appearance="standard">
                  <mat-label>Buscar</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                </mat-form-field>

                <table mat-table [dataSource]="dataSourcePersonal" class="mat-elevation-z8 w-100 text-center">

                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="text-center text-break "> ID </th>
                    <td mat-cell *matCellDef="let element" class="col-1"> {{element.id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Nombre </th>
                    <td mat-cell *matCellDef="let element" class="col-2"> {{element.nombre}} </td>
                  </ng-container>

                  <ng-container matColumnDef="identificacion">
                    <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Identificacion </th>
                    <td mat-cell *matCellDef="let element" class="col-2"> {{element.identificacion}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cargo">
                    <th mat-header-cell *matHeaderCellDef  class="text-center text-break"> Cargo </th>
                    <td mat-cell *matCellDef="let element" class="col-2"> {{element.cargo}} </td>
                  </ng-container>

                  <ng-container matColumnDef="rh">
                    <th mat-header-cell *matHeaderCellDef class="text-center text-break"> RH </th>
                    <td mat-cell *matCellDef="let element" class="col-1"> {{element.rh}} </td>
                  </ng-container>


                  <ng-container matColumnDef="fechaCre">
                    <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Fecha Creacion </th>
                    <td mat-cell *matCellDef="let element" class="col-2"> {{element.fecha_creacion}} </td>
                  </ng-container>

                  <ng-container matColumnDef="fechaIn">
                    <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Fecha Inactivacion</th>
                    <td mat-cell *matCellDef="let element" class="col-2"> {{element.fecha_inactivacion}} </td>
                  </ng-container>



                  <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef class="text-center text-break"> Accion </th>
                    <td mat-cell *matCellDef="let element" class="col-1"> 
                      <button *ngIf="!element.estado && !cambiandoEstado" class="btn btn-success w-100 rounded-pill" (click)="cambiarEstadoPersonal(element)">
                        Activar
                      </button>
                      <button *ngIf="element.estado && !cambiandoEstado" class="btn btn-danger w-100 rounded-pill" (click)="cambiarEstadoPersonal(element)">
                        Inactivar
                      </button>
                      <button *ngIf="cambiandoEstado" class="btn btn-info w-100 rounded-pill">
                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                      </button>
                    </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  <tr class="mat-row text-center" *matNoDataRow>
                    <td class="mat-cell text-center" colspan="6">No hay información</td>
                  </tr>
  

                </table>

                <mat-paginator [hidden]="dataSourcePersonal.data.length < 1" class="mat-elevation-z8" #paginatorPersonal
                  [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons>
                </mat-paginator>

                <br>

                <div class="row ml-1">
                  <div *ngIf="!enviandoExcel">
                    <label for="archivoExcel" class="btn btn-info rounded-pill text-center">
                      <span>Cargar Excel</span>
                    </label>
                    <input type="file" #archivoExcel id="archivoExcel" name="archivoExcel" (change)="envioExcel($event)"
                      enctype="multipart/form-data" accept=".xlsx,.xls" required style="display: none;" [disabled]="enviandoExcel"/>
                  </div>
                  <div *ngIf="enviandoExcel">
                    <label for="archivoExcel" class="btn btn-dark rounded-pill text-center">
                      <span>Cargando Excel...</span>
                    </label>
                    <input type="file"style="display: none;" disabled/>
                  </div>
  
                  <button class="btn btn-warning rounded-pill text-center" (click)="crearExcel()">Generar Excel de personal
                  </button>
                </div>

              </mat-expansion-panel>
            </mat-accordion>

          </div>
        </div>
      </div>
    </div>
  </div>