<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info" id="banner">
            <h4 class="card-title">Procesos y subprocesos</h4>
            <p class="card-category">Gestion de Procesos</p>
          </div>

          <div class="card-body">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h6 class="text-info">Procesos</h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="row">

                  <div class="col row align-items-center">
                    <div class="table-responsive">
                      <table mat-table [dataSource]="dataSourceProceso"
                        class="w-100 text-center table table-striped table-hover">

                        <ng-container matColumnDef="id_proceso">
                          <th mat-header-cell *matHeaderCellDef class="text-center"> * </th>
                          <td mat-cell *matCellDef="let element"> {{element.id_proceso}} </td>
                        </ng-container>

                        <ng-container matColumnDef="nombre_proceso">
                          <th mat-header-cell *matHeaderCellDef class="text-center"> Procesos </th>
                          <td mat-cell *matCellDef="let element"> {{element.nombre_proceso}} </td>
                        </ng-container>


                        <ng-container matColumnDef="acciones">
                          <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
                          <td mat-cell *matCellDef="let element">

                            <button class="btn btn-info rounded-pill" (click)="editarProceso(element)"
                              matTooltip="Editar Proceso" matTooltipPosition="above" matTooltipClass="tooltipText">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>

                            <button class="btn btn-danger rounded-pill" (click)="eliminarProceso(element)"
                              matTooltip="Eliminar proceso" matTooltipPosition="above" matTooltipClass="tooltipText">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </td>
                        </ng-container>

                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="8">No hay Procesos</td>
                        </tr>

                        <tr mat-header-row *matHeaderRowDef="ColumnasProceso"></tr>
                        <tr mat-row *matRowDef="let row; columns: ColumnasProceso;"></tr>
                      </table>

                      <mat-paginator [hidden]="dataSourceProceso.data.length < 1" class="mat-elevation-z8"
                        #paginatorProceso [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                  </div>


                  <div class="col-4">

                    <div class="añadir-cargo-container">
                      <h5 class="titulo-añadir"><strong>Añadir Proceso</strong></h5>

                      <form #registrarProceso="ngForm" (ngSubmit)="registrarProcesos()" [noValidate]="false">
                        <mat-form-field class="example-full-width">
                          <input matInput  placeholder="proceso" type="text"
                            name="añadirproceso" [(ngModel)]="datoSeleccionadoParaEditar" required />
                        </mat-form-field>

                        <!-- (keyup)="applyFilter($event)" -->

                        <div class="container">
                          <div class="row">
                            <div class="col-6 d-flex justify-content-center">
                              <button mat-raised-button type="submit" class="btn btn-success rounded-pill text-center" id="button-guardar">
                                Guardar
                              </button>
                            </div>
                            <div class="col-6 d-flex justify-content-center">
                              <button mat-raised-button type="reset" class="btn btn-danger rounded-pill text-center" id="button-limpiar" (click)="limpiarFormulario()">
                                Limpiar
                              </button>
                            </div>
                          </div>
                        </div>
                        

                      </form>
                    </div>
                  </div>


                </div>
              </mat-expansion-panel>

              <!-- --------------------------------------------------------------------------------------------------------------------------- -->
              <hr>


              <mat-expansion-panel>

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h6 class="text-info">Subprocesos</h6>
                  </mat-panel-title>

                </mat-expansion-panel-header>

                <div class="row">

                  <div class="col row align-items-center">
                    <div class="table-responsive">
                      <table mat-table [dataSource]="dataSourceSubProceso"
                        class="w-100 text-center table table-striped table-hover">

                        <ng-container matColumnDef="id_subproceso">
                          <th mat-header-cell *matHeaderCellDef class="text-center"> * </th>
                          <td mat-cell *matCellDef="let element"> {{element.id_subproceso}} </td>
                        </ng-container>

                        <ng-container matColumnDef="subproceso">
                          <th mat-header-cell *matHeaderCellDef class="text-center"> Subprocesos </th>
                          <td mat-cell *matCellDef="let element"> {{element.subproceso}} </td>
                        </ng-container>

                        <ng-container matColumnDef="id_proceso">
                          <th mat-header-cell *matHeaderCellDef class="text-center"> Proceso </th>
                          <td mat-cell *matCellDef="let element"> {{element.id_proceso}} </td>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                          <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
                          <td mat-cell *matCellDef="let element">

                            <button class="btn btn-info rounded-pill" (click)="editarSubProceso(element)"
                              matTooltip="Editar subProceso" matTooltipPosition="above" matTooltipClass="tooltipText">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>

                            <button class="btn btn-danger rounded-pill" (click)="eliminarSubProceso(element)"
                              matTooltip="Eliminar subProceso" matTooltipPosition="above" matTooltipClass="tooltipText">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </td>
                        </ng-container>

                        <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell" colspan="8">No hay Subprocesos</td>
                        </tr>

                        <tr mat-header-row *matHeaderRowDef="columnasSubProcesos"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnasSubProcesos;"></tr>

                      </table>

                      <mat-paginator [hidden]="dataSourceSubProceso.data.length < 1" class="mat-elevation-z8"
                        #paginatorSubProceso [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                  </div>


                  <div class="col-4">

                    <div class="añadir-cargo-container">
                      <h5 class="titulo-añadir"><strong>Añadir Subproceso</strong></h5>

                      <form #registrarSubProceso="ngForm" (ngSubmit)="registrarSubProcesos()" [noValidate]="false">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Subproceso" type="text" name="añadirSubProceso"
                            [(ngModel)]="datoEditarSubPro" required />
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                          <mat-select matInput placeholder="Proceso Relacionado"  name="formularioProcesos"
                            [(ngModel)]="procesoSeleccionado"  required>
                            <mat-option [value]="p.id_proceso" *ngFor="let p of procesos">
                              {{ p.nombre_proceso }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>

                        <div class="container">
                          <div class="row">
                            <div class="col-6 d-flex justify-content-center align-items-center">
                              <button mat-raised-button type="submit" class="btn btn-success rounded-pill text-center" id="button-guardar">
                                Guardar
                              </button>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                              <button mat-raised-button type="reset" class="btn btn-danger rounded-pill text-center" id="button-limpiar" (click)="limpiarFormulario()">
                                Limpiar
                              </button>
                            </div>
                          </div>
                        </div>

                      </form>
                    </div>
                  </div>


                </div>

                <!-- <form>

                                  <h5><strong>Procesos:</strong></h5>
                                  <div class="col-4">
                                    <mat-form-field class="example-full-width">
                                      <mat-select placeholder="subProcesos" id="nsubproceso" name="subproceso" ngModel required>
                                        <mat-option [value]="p.id_subproceso" *ngFor="let p of subprocesos">
                                          {{ p.subproceso }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                  
                 </form>-->


              </mat-expansion-panel>

            </mat-accordion>

          </div>
        </div>
      </div>
    </div>
  </div>