<div class="container-fluid">
    <div>
        <div class="titulo">
            <h2>Bienvenido a nuestro Sistema de Gestión de Arriendos</h2>
            <p>El lugar perfecto para administrar tus propiedades y arriendos de manera sencilla y eficiente.</p>
        </div>

        <main>    
            <section class="feature">
                <div class="alert alert-success">
                    <h2>Administrar contratos</h2>
                </div>
                <p>Registra y actualiza información detallada de tus contratos de arrendamiento.</p>
            </section>
    
            <section class="feature">
                <div class="alert alert-warning">
                    <h2>Gestiona arriendos</h2>
                </div>
                <p>Lleva un registro de los arriendos, fechas, pagos y detalles de los arriendos.</p>
            </section>
    
            <section class="feature">
                <div class="alert alert-info">
                    <h2>Genera reportes</h2>
                </div>
                <p>Obtén reportes y mas, de los datos ingresados en el sistema.</p>
            </section>
        </main>
    
    </div>
</div>