<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-info" id="banner">
          <h4 class="card-title">Buscar Bancos</h4>
        </div>
        <div class="card-body">
          <mat-accordion>
            <mat-expansion-panel hideToggle></mat-expansion-panel>
            <mat-expansion-panel
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6 class="text-info">Búsqueda de Bancos</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <h5><strong>Buscar banco por su nombre</strong></h5>
              <div class="row">
                <div class="col-3">
                  <input
                    class="formdata text-center form-control align-baseline mt-2"
                    placeholder="Nombre del Banco"
                    type="text"
                    [(ngModel)]="consulta_banco"
                  />
                </div>
                <button   
                  class="btn btn-info text-center col-3"
                  id="button-consultar"
                    (click)="traerBancos()" 
                >
                  Consultar
                </button> 
              </div>

           
           
              <div class="col-4">
                <h5><strong>Añadir Banco</strong></h5>
                <form #registrarBancoForm="ngForm" (ngSubmit)="registrarBanco()">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Banco" type="text" name="banco" [(ngModel)]="nuevoBanco.banco" required />
                  </mat-form-field>
                  <button mat-raised-button type="submit" class="btn btn-info pull-right" id="button-guardar">
                    Guardar
                  </button>
                </form>
                
              </div>
              
              
            
            
              
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
