<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" id="banner">
                        <h4 class="card-title">Registrar Bancos</h4>
                    </div>
                    <div class="card-body">
                        <mat-accordion>
                            <mat-expansion-panel hideToggle> </mat-expansion-panel>
                            <mat-expansion-panel
                             
                            >
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  <h6 class="text-info">Registro de Bancos</h6>
                                </mat-panel-title>
                              </mat-expansion-panel-header>
                              <h5><strong>Buscar banco por su Nombre</strong></h5>
                              <div class="row">
                                <div class="col-3">
                                
                                    <form action="#">
                                        <label for="lang">Banco</label>
                                        <select name="bancos" id="lang">
                                            <form action="#">
                                                <label for="lang">banco</label>
                                                <select name="lenguajes" id="lang">
                                                  <option value="javascript">JavaScript</option>
                                                  <option value="php">PHP</option>
                                                  <option value="java">Java</option>
                                                  <option value="golang">Golang</option>
                                                  <option value="python">Python</option>
                                                  <option value="c#">C#</option>
                                                  <option value="C++">C++</option>
                                                  <option value="erlang">Erlang</option>
                                                </select>
                                                <input type="submit" value="Enviar" />
                                          </form>
                                        </select>
                                        <input type="submit" value="Enviar" />
                                  </form>
                                 
                                  
                                </div>
</div>                               
