<div class="logo">
    <a class="simple-text">
        <img src="/assets/img/logo-ganagana-amarillo-2.png" width="80" id="logogana" />
        <hr> Gestión de Procesos
    </a>
</div>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-menu">
            <div *ngIf="isMobileMenu()">
                <ul class="nav navbar-nav nav-mobile-menu">
                    <li class="nav-item">
                        <h6 class="text-danger text-center">Trabajamos con amor</h6>
                    </li>
                </ul>
            </div>

            <ul class="nav overflow-auto" id="navigation">
                <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
                    <a *ngIf="menuItem.children.length < 1 && menuItem.active" class="nav-link pl-2"
                        [routerLink]="[menuItem.path]">
                        <i class="material-icons">{{menuItem.icon}}</i>
                        <p>{{menuItem.title}}</p>
                        <hr class="my-1">
                    </a>

                    <nav class="nav my-0" *ngIf="menuItem.children.length > 0 && menuItem.active">
                        <a class="nav-link pl-2" href="#{{menuItem.title}}" data-toggle="collapse">
                            <i class="material-icons">{{menuItem.icon}}</i>
                            <p>{{menuItem.title}}</p>
                        </a>
                        <div *ngFor="let childrenItem of menuItem.children">
                            <a routerLinkActive="active" class="collapse nav-link pl-4" id="{{menuItem.title}}" [routerLink]="[childrenItem.path]">
                                <i class="material-icons">{{childrenItem.icon}}</i>
                                <p>{{childrenItem.title}}</p>
                            </a>
                            <hr class="collapse my-1" id="{{menuItem.title}}">
                        </div>
                        <hr class="my-1">
                    </nav>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar-footer">
        <div class="">
            <hr>
            <button class="mx-0 btn btn-outline-danger w-100" (click)="cerrarSesion()"><i
                    class="material-icons">logout</i> Cerrar sesion</button>
        </div>
    </div>
</nav>