<div class="logo">
    <a class="simple-text">
        <img src="/assets/img/Banner Nexus.png" width="100" id="logo" />
        <!-- <hr> Gestión de Procesos -->
    </a>
</div>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content h-75">
        <div class="sidebar-menu h-100">
            <div *ngIf="isMobileMenu()">
                <ul class="nav navbar-nav nav-mobile-menu">
                    <li class="nav-item">
                        <h6 class="text-danger text-center">Trabajamos con amor</h6>
                    </li>
                </ul>
            </div>

            
            <ul class="nav overflow-auto h-100 max-h-100" id="navigation">
                <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item main-menu-item-divider">
                    <a *ngIf="menuItem.children.length < 1" class="nav-link pl-2"  [routerLink]="[menuItems.path]">
                        <i class="material-icons">{{menuItem.icon}}</i>
                        <p>{{menuItem.title}}</p>
                    </a>
                    
                    <nav class="nav my-0" *ngIf="menuItem.children.length > 0">
                        <a class="nav-link pl-2" data-toggle="collapse" [attr.href]="'#' + menuItem.title">
                            <i class="material-icons">{{menuItem.icon}}</i>
                            <p class="dropdown-toggle">{{menuItem.title}}</p>
                        </a>
                        <div class="collapse" [attr.id]="menuItem.title">
                            <!-- Línea divisoria entre la primera opción del submenú y las opciones principales -->
                            <hr class="my-1 with-border-top">
                            <div *ngFor="let childrenItem of menuItem.children">
                                <a routerLinkActive="active" class="nav-link pl-4" [routerLink]="[childrenItem.path]">
                                    <i class="material-icons">{{childrenItem.icon}}</i>
                                    <p>{{childrenItem.title}}</p>
                                </a>
                                <hr class="my-1">
                            </div>
                        </div>
                    </nav>
                </li>
            </ul>
            
        </div>
    </div>

    <div class="sidebar-footer">
        <div class="">
            <hr>
            <button class="mx-0 btn btn-outline-danger w-100" (click)="cerrarSesion()"><i
                    class="material-icons">logout</i> Cerrar sesion</button>
        </div>
    </div>
</nav>