.nav li a{
    border-radius: 25px;
}
.nav-item{
    border-radius: 25px;
}
.nav-link{
    border-radius: 25px;
}

.active > nav { 
    background-color: #adf8a6 !important; 
    border-radius: 25px;
}

a.active {
    background-color: #ffe203 !important; 
    color: black !important;

}

a.active i{
    color: black !important;
}

.active > a { 
    background-color: #ffe203 !important; 
    border-radius: 25px;
    color: black !important;
}

ul hr {
    background-color: #d1cece72;
}

.sidebar .nav li a, .sidebar .nav li .dropdown-menu a{
    border-radius: 25px !important;
    overflow-y: scroll !important;
}

#logo {
    border-radius: 35px;
    width: 90%;
}

/* #navigation { */
    /* max-height: 51vh; */
    /* overflow-y: scroll !important; */
/* } */


.with-border-top {
    border-top: 1.8px solid #d1cece72;
}

/* Estilo para la única línea divisoria en el menú */
.main-menu-item-divider {
    border-bottom: 1px solid #ddd; /* Establece el estilo del borde para las opciones principales */
    padding-bottom: 5px; /* Espacio opcional debajo del borde */
}

#navigation {
    /* max-height: 300px;  */
    overflow-y: auto; /* Añade una barra de desplazamiento vertical cuando sea necesario */
}

.nav li {
    list-style-type: none;
}
