<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" id="banner">
                        <h4 class="card-title">Reportes</h4>
                        <p class="card-category">Aqui podras generar tus reportes</p>
                    </div>

                    <div class="card-body">
                        <mat-accordion>
                            <hr />
                            <div class="row bg-white rounded w-100 mx-0 pt-3">
                                <div class="col-6">
                                    <mat-form-field class="w-50 float-right align-middle">
                                        <mat-select placeholder="Periodo" (selectionChange)="asignarmes($event.value)">
                                            <mat-option value="1"> ENERO </mat-option>
                                            <mat-option value="2"> FEBRERO </mat-option>
                                            <mat-option value="3"> MARZO</mat-option>
                                            <mat-option value="4"> ABRIL </mat-option>
                                            <mat-option value="5"> MAYO </mat-option>
                                            <mat-option value="6"> JUNIO </mat-option>
                                            <mat-option value="7"> JULIO </mat-option>
                                            <mat-option value="8"> AGOSTO </mat-option>
                                            <mat-option value="9"> SEPTIEMBRE </mat-option>
                                            <mat-option value="10"> OCTUBRE </mat-option>
                                            <mat-option value="11"> NOVIEMBRE </mat-option>
                                            <mat-option value="12"> DICIEMBRE </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-6">
                                    <mat-form-field class="w-50 ">
                                        <mat-select placeholder="Año" (selectionChange)="asignaranio($event.value)">
                                            <mat-option *ngFor="let year of yearList" [value]="year">
                                                {{ year }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <hr />

                            <table mat-table [dataSource]="dataSource"
                                class="w-100 text-center table table-striped table-hover">

                                <ng-container matColumnDef="Id">
                                    <th mat-header-cell *matHeaderCellDef class="text-center">#</th>
                                    <td mat-cell *matCellDef="let element; let i = index"> {{i+1}}</td>
                                </ng-container>

                                <ng-container matColumnDef="Reporte">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Reporte </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                </ng-container>

                                <ng-container matColumnDef="Acciones">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button *ngIf="!spinner && (element.status == 1)" class="btn btn-success rounded-pill"
                                            matTooltip="Generar reporte {{element.nombre}}" matTooltipPosition="above"
                                            (click)="generarReporte(element)" matTooltipClass="tooltipText">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                        </button>
                                        <button *ngIf="spinner && (element.status == 1 || element.status == 3) " disabled class="btn btn-info rounded-pill">
                                            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                        </button>
                                        <button *ngIf="(element.status == 2)" disabled class="btn btn-warning rounded-pill">
                                            en construccion
                                        </button>
                                        <button *ngIf="!spinner && element.status == 3" class="btn btn-info rounded-pill"
                                            (click)="generarReporteProximosRenovar()">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </ng-container>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="7">No hay consultas</td>
                                </tr>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>