#banner{
    border-radius: 25px;
    background: #ffe203;
}

.card-title {
    color: #1b4f35 !important;
    font-weight: bold;
    font-size: 21px;
    margin-bottom: 100px; /* Ajusta la cantidad de espacio en píxeles según tus necesidades */
}

.text-info{
    color: #359b68 !important;
    font-weight: 900;
}

.mat-accordion .mat-expansion-panel:last-of-type{
    border-radius: 25px;
}
mat-accordion {
    background-color: transparent !important;
  }
  
  .mat-expansion-panel {
    background-color: transparent !important;
  }
  
  
  .card {
    background-color: transparent !important;
    border-radius: 25px;
  }

  .paragraph-info {
    color: #1b4f35 !important;
    font-weight: bold;
}