<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" id="banner">
                        <h4 class="card-title">Gestion de permisos</h4>
                        <p class="card-category">Panel de administracion de permisos de usuarios</p>
                    </div>

                    <div class="card-body">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <h6 class="text-info">Crear permiso</h6>
                                    </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="row">
                                
                            <div class="col row align-items-center ">
                              <div class="table-responsive">
                        <table mat-table [dataSource]="dataSourcePermisos" class="w-100 text-center table table-striped table-hover">

                            <ng-container matColumnDef="id_permiso">
                                <th mat-header-cell *matHeaderCellDef class="text-center" > * </th>
                                <td mat-cell *matCellDef="let element"> {{element.id_permiso}} </td>
                            </ng-container>

                            <ng-container matColumnDef="permiso">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> Permisos </th>
                                <td mat-cell *matCellDef="let element"> {{element.permiso}} </td>
                            </ng-container>                              

                            <ng-container matColumnDef="estado">
                              <th mat-header-cell *matHeaderCellDef class="text-center" > Estado </th>
                              <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                          </ng-container>

                            <ng-container matColumnDef="acciones">
                              <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
                              <td mat-cell *matCellDef="let element">

                                <button class="btn btn-info rounded-pill" (click)="editarPermisos(element)" 
                                matTooltip="Editar Permiso" 
                                matTooltipPosition="above"
                                matTooltipClass="tooltipText">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>

                                  <button class="btn btn-danger rounded-pill" (click)="eliminarPermiso(element)" 
                                  matTooltip="Eliminar Permiso" 
                                  matTooltipPosition="above"
                                  matTooltipClass="tooltipText">
                                      <i class="fa fa-trash" aria-hidden="true"></i>
                                  </button>
                              </td>
                          </ng-container>

                          <tr class="mat-row" *matNoDataRow>
                              <td class="mat-cell" colspan="8">No hay permisos</td>
                          </tr>

                          <tr mat-header-row *matHeaderRowDef="columnasPermisos"></tr>
                          <tr mat-row *matRowDef="let row; columns: columnasPermisos;"></tr>

                        </table>
                      
                        <mat-paginator 
                        [hidden]="dataSourcePermisos.data.length < 1"
                        class="mat-elevation-z8"
                        #paginatorPermiso
                        [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons
                      >
                        </mat-paginator>
                      </div>
                    </div>


                        <div class="col-4">

                          <div class="añadir-cargo-container">
                            <h5 class="titulo-añadir"><strong>Añadir Permiso</strong></h5>
                        
                            <form #enviarPermiso ="ngForm" (ngSubmit)="registrarPermiso()" [noValidate]="false">
                              <mat-form-field class="example-full-width">
                                <input matInput  placeholder="Permiso" type="text" name="añadirPermiso" [(ngModel)]="datoEditarPermiso" required/>
                              </mat-form-field>                    

                              <div class="d-flex justify-content-between">
                                <button mat-raised-button type="submit" class="btn btn-success rounded-pill text-center" id="button-guardar">
                                    Guardar
                                  </button>

                                  <button mat-raised-button type="reset"
                                  class="btn btn-danger rounded-pill text-center"
                                  id="button-limpiar"
                                  (click)="limpiarFormulario()">
                                  Limpiar
                                </button>
                            </div>
      
                            </form>                          

                          </div>
                        </div>                      


                          </div>        


                        
                        </mat-expansion-panel>


<!-- ___________________________________________________________________________________________________________________________________ -->

                            <mat-expansion-panel [expanded]="panelPermisos" (opened)="panelPermisos = true"
                                (closed)="panelPermisos = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <h6 class="text-info">Panel de permisos</h6>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                
                                <div class="row text-center justify-content-center" hidden>
                                    <div class="col-5 row align-items-center">
                                        <div class="col-auto">
                                            <p for="tipoElemento" class="text-black mt-2">Tipo de permiso:</p>
                                        </div>
                                        <div class="col">
                                            <mat-form-field>
                                                <mat-select name="tipoElemento" id="tipoElemento" [(ngModel)]="tipoPermiso" (selectionChange)="cargarDatos()">
                                                    <mat-option [value]="0" selected disabled>Seleccione un tipo</mat-option>
                                                    <mat-option [value]="1">Cargos</mat-option>
                                                    <!-- <mat-option [value]="2">Procesos</mat-option> -->
                                                    <!-- <mat-option [value]="3">Modulos</mat-option> -->
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div *ngIf="tipoPermiso == 2" class="col-5 row align-items-center">
                                        <div class="col-auto">
                                            <p for="tipoElemento" class="text-black mt-2">Procesos:</p>
                                        </div>
                                        <div class="col">
                                            <mat-form-field>
                                                <mat-select name="tipoElemento" id="tipoElemento" [(ngModel)]="tipoPermiso" (ngModelChange)="cargarDatos()">
                                                    <mat-option [value]="0" selected disabled>Seleccione un
                                                        tipo</mat-option>
                                                    <mat-option [value]="1" selected>Cargos</mat-option>
                                                    <!-- <mat-option [value]="2">Procesos</mat-option> -->
                                                    <!-- <mat-option [value]="3">Modulos</mat-option> -->
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <hr class="mt-0">
                                <br>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="alert alert-info py-1 align-middle alertWarning text-black text-center" role="alert">
                                            <h4 *ngIf="tipoPermiso==0" class="my-0">Tipos</h4>
                                            <h4 *ngIf="tipoPermiso==1" class="my-0">Cargos</h4>
                                            <h4 *ngIf="tipoPermiso==2" class="my-0">Subprocesos</h4>
                                            <!-- <h4 *ngIf="tipoPermiso==3" class="my-0">Modulos</h4> -->
                                        </div>

                                        <table mat-table [dataSource]="dataSource"
                                            class="w-100 text-center table table-striped table-hover">

                                            <ng-container matColumnDef="nombre">
                                                <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <mat-radio-group [(ngModel)]="cargo">
                                                        <mat-radio-button class="w-100 py-2" [value]="element" (click)="traerPermisosCargo()">
                                                            {{element.nombre}}
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </td>
                                            </ng-container>
                                            
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell py-2" colspan="7">No hay cargos</td>
                                            </tr>

                                            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                        </table>
                                    </div>
                                    <hr class="hrVertical h-auto  mx-0">
                                    <div class="col">
                                        <div class="alert alert-info py-1 align-middle alertWarning text-black text-center" role="alert">
                                            <h4 class="my-0">Permisos</h4>
                                        </div>

                                        <table mat-table [dataSource]="dataSourcePermiso"
                                            class="w-100 text-center table table-striped table-hover">

                                            <ng-container matColumnDef="nombre">
                                                <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
                                                <td mat-cell *matCellDef="let element"> {{element.permiso}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="acciones">
                                                <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones
                                                </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <button *ngIf="element.check && !spinner" [disabled]="spinner" class="btn btn-success rounded-pill px-4 py-2"
                                                        (click)="cambiarEstadoPermiso(element)" matTooltip="Editar credito"
                                                        matTooltipPosition="above" matTooltipClass="tooltipText">
                                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                                    </button>

                                                    <button *ngIf="!element.check && !spinner" [disabled]="spinner" class="btn btn-danger rounded-pill px-4 py-2"
                                                        (click)="cambiarEstadoPermiso(element)" matTooltip="Editar credito"
                                                        matTooltipPosition="above" matTooltipClass="tooltipText">
                                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                    </button>

                                                    <button *ngIf="spinner" disabled class="btn btn-info rounded-pill px-4 py-2">
                                                        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                            </ng-container>

                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell py-4" colspan="7">No hay permisos</td>
                                            </tr>

                                            <tr mat-header-row *matHeaderRowDef="columnasPermiso"></tr>
                                            <tr mat-row *matRowDef="let row; columns: columnasPermiso;"></tr>
                                        </table>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>