<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          
              <div class="card">

                  <div class="card-header card-header-info">
                      <h4 class="card-title">Documentacion faltante</h4>
                      <p class="card-category">Adjunta documentos faltantes del arriendo</p>
                  </div>

                  <div class="card-body">
                    <form>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Codigo solicitud" formControlName="codSolicitud">
                            </mat-form-field>
                          </div>
                          <div class="col-md-2">
                            <button mat-raised-button type="submit" class="btn btn-info pull-right">Buscar</button>
                          </div>
                          
                        </div>
                        <hr>

                    </form>
                      <form>
                        
                        <div class="row">

                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Formato de Viabilidad" type="text" formControlName="fotocopia_viabilidad">
                            </mat-form-field>
                          </div> 

                          <div class="col-md-2">
                            <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                          </div>

                          <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Consultas de Listas Respectivas" type="text" formControlName="consultas_listas_respectivas">
                            </mat-form-field>
                          </div> 

                          <div class="col-md-2">
                            <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                          </div>

                         </div>
                    <hr>

                    <div class="row">

                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Certificado de Tradicion" type="text" formControlName="certifiado_tradicion">
                        </mat-form-field>
                      </div> 

                      <div class="col-md-2">
                        <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                      </div>

                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Copia de la cedula" type="text" formControlName="copia_cedula">
                        </mat-form-field>
                      </div> 

                      <div class="col-md-2">
                        <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                      </div>

                    </div>

                    

                      <hr>
                          <div class="row">

                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Autorizacion Autenticada" type="text" formControlName="autorizacion_autenticada">
                              </mat-form-field>
                            </div> 

                            <div class="col-md-2">
                              <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                            </div>

                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="RUT" type="text" formControlName="rut">
                              </mat-form-field>
                            </div> 

                            <div class="col-md-2">
                              <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                            </div>

                      </div>

                      <hr>
                          <div class="row">

                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Concepto Uso Del suelo" type="text" formControlName="concepto_uso_suelo">
                              </mat-form-field>
                            </div> 

                            <div class="col-md-2">
                              <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                            </div>

                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Certificacion Bancaria" type="text" formControlName="certificacion_bancaria">
                              </mat-form-field>
                            </div>
                            
                            <div class="col-md-2">
                              <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                            </div> 

                      </div>


                      <hr>
                          <div class="row">

                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Inventario Fotografico" type="text" formControlName="inventario_fotografico">
                              </mat-form-field>
                            </div> 

                            <div class="col-md-2">
                              <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                            </div>

                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Formulario Contrapartes" type="text" formControlName="formulario_contrapartes">
                              </mat-form-field>
                            </div>

                            <div class="col-md-2">
                              <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                            </div>
                          </div>
                          
                      <hr>

                          <div class="row">

                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Formato Debida Dilijencia" type="text" formControlName="formato_debida_diligencia">
                              </mat-form-field>
                            </div> 

                            <div class="col-md-2">
                              <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                            </div>

                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Fotocopia Pago Impuesto" type="text" formControlName="fotocopia_pago_impuesto">
                              </mat-form-field>
                            </div>

                            <div class="col-md-2">
                              <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                            </div>

                          </div>

                          <hr>

                          <div class="row">

                            <div class="col-md-4">

                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Contrato Arrendamiento" type="text" formControlName="contrato_arrendamiento">
                              </mat-form-field>
                            </div>  

                            <div class="col-md-2">
                              <button mat-raised-button type="submit"  class="btn btn-info pull-right">Añadir</button>
                            </div>

                          </div>

                          <hr>
                          
                          <button mat-raised-button type="submit" class="btn btn-info pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div> -->
      </div>
  </div>

