<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>No se encotro la ruta</title>

</head>

<body>
    <div id="inautorizado">
        <div class="inautorizado">
            <div class="inautorizado-401">
                <h1>4<span>0</span>1</h1>
            </div>
            <h2>OOPS.. no tienes permisos para acceder a esta pagina, vuelve al inicio.</h2>
            <a href="/" class="btn btn-info">Volver al incio</a>
        </div>
    </div>


</body>

</html>