<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info" id="banner">
            <h4 class="card-title">Registros</h4>
            <p class="card-category">¿Que quieres registrar?</p>
          </div>
          <div class="card-body">
            <mat-accordion>
              <mat-expansion-panel hideToggle> </mat-expansion-panel>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h6 class="text-info">Datos del Tercero</h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <h5><strong>Buscar tercero por su número de documento</strong></h5>
                <div class="row">
                  <div class="col-3">
                    <input
                      class="formdata text-center form-control align-baseline mt-2"
                      placeholder="Cedula Tercero"
                      type="number"
                      [(ngModel)]="consulta_ter"
                    />
                  </div>
                  
                  <button
                    class="btn btn-info text-center col-3"
                    id="button-consultar"
                    (click)="traerTercero()"
                  >
                    Consultar
                  </button>
                  
                </div>

                <hr />
                <!--formulario del tercero-->
                <form
                  [formGroup]="formulariotercero"
                  #formularioTerceroReset="ngForm"
                  (ngSubmit)="registrartercero()"
                >
                  <div class="row">
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <mat-select
                          placeholder="Tipo documento"
                          (selectionChange)="validartipopersona($event.value)"
                          formControlName="tipo_documento"
                        >
                          <mat-option value="Cedula"> Cedula </mat-option>
                          <mat-option value="Cedula_Extrangeria">
                            Cedula extranjería
                          </mat-option>
                          <mat-option value="Nit"> Nit </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Numero De Documento"
                          type="number"
                          formControlName="numero_documento"
                        />
                      </mat-form-field>
                    </div>
                    <div class="natural col-md-8" *ngIf="tipopersona">
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              placeholder="Nombre Del Tercero"
                              type="text"
                              formControlName="nombres"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              placeholder="Apellidos Del Tercero"
                              type="text"
                              formControlName="apellidos"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <mat-select
                              placeholder="Género"
                              formControlName="genero"
                            >
                              <mat-option value="Masculino">
                                Masculino
                              </mat-option>
                              <mat-option value="Femenino">
                                Femenino
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="juridica col-md-8" *ngIf="!tipopersona">
                      <div class="row">
                        <div class="col-md-2">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              placeholder="DV"
                              type="number"
                              formControlName="digito_verificacion"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-10">
                          <mat-form-field class="example-full-width">
                            <input
                              matInput
                              placeholder="Razon social"
                              type="text"
                              formControlName="razon_social"
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <mat-select
                          placeholder="Departamento"
                          formControlName="departamento"
                          (selectionChange)="filtrardepar($event.value)"
                        >
                          <mat-option
                            [value]="d.id_departamento"
                            *ngFor="let d of departamentos"
                          >
                            {{ d.departamento }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="filtermuni">
                      <mat-form-field class="example-full-width">
                        <mat-select
                          placeholder="Municipio"
                          formControlName="id_municipio"
                        >
                          <mat-option
                            [value]="m.id_municipio"
                            *ngFor="let m of municipiosfiltro"
                          >
                            {{ m.municipio }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Dirección"
                          type="text"
                          formControlName="direccion"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Número Contacto 1"
                          type="number"
                          formControlName="numero_contacto"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Número Contacto 2"
                          type="number"
                          formControlName="numero_contacto2"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Correo Electronico"
                          type="email"
                          formControlName="email"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field
                        class="example-full-width"
                        *ngIf="tipopersona"
                      >
                        <input
                          matInput
                          placeholder="Fecha De Nacimiento"
                          type="date"
                          formControlName="fecha_nacimiento"
                        />
                      </mat-form-field>
                      <mat-form-field
                        class="example-full-width"
                        *ngIf="!tipopersona"
                      >
                        <input
                          matInput
                          placeholder="Fecha De Creación"
                          type="date"
                          formControlName="fecha_creacion"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <button
                    mat-raised-button
                    type="submit"
                    class="btn btn-info pull-right"
                    id="button-guardar"
                  >
                    Guardar
                  </button>
                  <button
                    mat-raised-button
                    type="reset"
                    class="btn btn-danger pull-right"
                    id="button-limpiar"
                    (click)="limpiarTercero()"
                  >
                    Limpiar
                  </button>
                </form>
              </mat-expansion-panel>
            </mat-accordion>

            <hr />

            <!--formulario pdv-->
            <mat-accordion>
              <mat-expansion-panel hideToggle> </mat-expansion-panel>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h6 class="text-info">Datos Del Pdv</h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <h5><strong>Buscar punto de venta por el codigo</strong></h5>
                <div class="row">
                  <div class="col-3">
                    <input
                      class="formdata text-center form-control align-baseline mt-2"
                      placeholder="Codigo PDV"
                      type="number"
                      [(ngModel)]="pdv_id"
                    />
                  </div>
                  
                  <button
                    class="btn btn-info text-center col-3"
                    id="button-consultar"
                    (click)="traerPDV()"
                  >
                    Consultar
                  </button>

                  <!-- <button mat-raised-button class="btn btn-danger" 
                  id="button-inhabilitar" 
                  (click)="inhabilitarPDV()">Inhabilitar PDV</button> -->
                  
                  <button mat-raised-button class="btn btn-danger" 
        id="button-inhabilitar" 
        (click)="inhabilitarPDV(pdv_id)">Inhabilitar PDV</button>


                </div>
                <div class="row" *ngIf="propietariostabla.length > 0">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-header card-header-success">
                        <h4 class="card-title">
                          Propietarios del nuevo punto de venta
                        </h4>
                        <p class="card-category">
                          Aqui econtraras todos los propietarios a relacionar en
                          el nuevo punto de venta
                        </p>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table">
                            <thead class="text-info">
                              <th>TIPO DOCUMENTO</th>
                              <th>IDENTIFICACION</th>
                              <th>NOMBRES</th>
                              <th>ACCIONES</th>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="
                                  let pt of propietariostabla;
                                  let i = index
                                "
                              >
                                <td>{{ pt.tipoid }}</td>
                                <td>{{ pt.identificacion }}</td>
                                <td
                                  *ngIf="pt.nombres == '' || pt.nombres == null"
                                >
                                  {{ pt.razon }}
                                </td>
                                <td *ngIf="pt.razon == null || pt.razon == ''">
                                  {{ pt.nombres }} {{ pt.apellidos }}
                                </td>
                                <td>
                                  <button
                                    class="btn btn-danger"
                                    (click)="delitem(i)"
                                    [disabled]="puntoVentaInhabilitado"
                                  >
                                    <span class="material-symbols-outlined">
                                      eliminar
                                    </span>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <form [formGroup]="formulariopdv" #formularioPdvReset="ngForm" (ngSubmit)="registropdv()">
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <mat-select
                          placeholder="Propietario"
                          (selectionChange)="addpropietario($event.value)"
                          formControlName="propietario"
                        >
                          <mat-option
                            [value]="c.id_cliente"
                            *ngFor="let c of clientes"
                          >
                            {{ c.numero_documento }} - {{ c.nombres }}
                            {{ c.apellidos }} {{ c.razon_social }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Código sitio de venta"
                          type="number"
                          formControlName="codigo_sitio_venta"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Centro de costo"
                          type="text"
                          formControlName="codigo_oficina"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Nombre punto de venta"
                          type="text"
                          formControlName="nombre_comercial"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <mat-select
                          placeholder="Departamento"
                          (selectionChange)="filtrardepar($event.value)"
                          formControlName="departamento"
                        >
                          <mat-option
                            [value]="d.id_departamento"
                            *ngFor="let d of departamentos"
                          >
                            {{ d.departamento }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4" *ngIf="filtermuni">
                      <mat-form-field class="example-full-width">
                        <mat-select
                          placeholder="Municipio"
                          formControlName="id_municipio"
                        >
                          <mat-option
                            [value]="m.id_municipio"
                            *ngFor="let m of municipiosfiltro"
                          >
                            {{ m.municipio }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div>
                      <mat-form-field class="example-full-width">
                        <mat-select
                          placeholder="Tipo de punto"
                          formControlName="tipo_punto"
                        >
                          <mat-option
                            [value]="t.id_tipo_contrato"
                            *ngFor="let t of tipopunto"
                          >
                            {{ t.tipo_contrato }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Dirección"
                          type="text"
                          formControlName="direccion"
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Area En Mts Cuadrados"
                          type="number"
                          formControlName="area_local"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Latitud"
                          type="text"
                          formControlName="latitud"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Longitud"
                          type="text"
                          formControlName="longitud"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Codigo GLPI"
                          type="number"
                          formControlName="codigo_glpi"
                        />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Ficha Catastral"
                          type="number"
                          formControlName="numero_ficha_catastral"
                        />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <textarea
                          matInput
                          placeholder="Observaciones"
                          rows="5"
                          formControlName="observacion"
                        ></textarea>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-checkbox
                        class="example-margin"
                        formControlName="linea_vista"
                        value="true"
                        >Linea De Vista</mat-checkbox
                      ><br />
                      <mat-checkbox
                        class="example-margin"
                        formControlName="sanitario"
                        value="true"
                        >Sanitario</mat-checkbox
                      ><br />
                      <mat-checkbox
                        class="example-margin"
                        formControlName="lavamanos"
                        value="true"
                        >Lavamanos</mat-checkbox
                      ><br />
                      <mat-checkbox
                        class="example-margin"
                        formControlName="poceta"
                        value="true"
                        >Poceta</mat-checkbox
                      >
                    </div>
                  </div>
                  <button
                    mat-raised-button
                    type="reset"
                    class="btn btn-danger pull-right"
                    id="button-limpiar"
                    (click)="limpiarPdv()"
                  >
                    Limpiar
                  </button>
                  <button
                  mat-raised-button
                  type="submit"
                  class="btn btn-info pull-right"
                  id="button-guardar"
                  [disabled]="guardarDeshabilitado"
                  >
                    Guardar
                  </button>
                </form>
              </mat-expansion-panel>
            </mat-accordion>

            <hr />

            <!--form contrato -->

            <mat-accordion>
              <mat-expansion-panel hideToggle> </mat-expansion-panel>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h6 class="text-info">Datos del contrato</h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <h5><strong>Buscar contrato por punto de venta</strong></h5>
                
                
                <div class="row">
                  <div class="col-5">
                    <div class="input-group">
                      <select class="custom-select my-1 mr-2 h-auto border-0" [(ngModel)]="tipoBuscarContrato">
                        <option value="PDV" selected>Punto de venta</option>
                        <option value="responsable">Responsable</option>
                        <option value="autorizado">Autorizado</option>
                      </select>
                      <div class="input-group-append">
                        <input class="formdata text-center form-control align-baseline h-auto my-1 border border-bottom-0 rounded"
                          placeholder="{{tipoBuscarContrato}}" type="number" [min]="0" [(ngModel)]="consulta_pdv" />
                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-3">
                    <input
                      class="formdata text-center form-control align-baseline mt-2"
                      placeholder="Id PDV"
                      type="number"
                      [(ngModel)]="consulta_pdv"
                    />
                  </div> -->
                  
                  <button
                    class="btn btn-info text-center col-3"
                    id="button-consultar"
                    (click)="traeContrato()"
                  >
                    Consultar
                  </button>
                  <div class="col d-flex align-items-end d-flex justify-content-end" >
                    <mat-checkbox class="example-margin" disabled [(ngModel)]="inhabilitar_save">Inhablitado</mat-checkbox>
                  </div>
                </div>



                <hr />
                
                <hr />

                <form
                  [formGroup]="formulariocontrato"
                  #formularioContratoReset="ngForm"
                  (ngSubmit)="registrocontrato()"
                >
                  <div class="row">
                    <div
                      class="col-md-6"
                      style="padding: 10px; border-right: 1px solid #ccc"
                    >
                      <h5><strong>Responsable y/o Arrendador</strong></h5>
                      <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <!-- <mat-label>Responsable</mat-label> -->
                          <input type="text" matInput formControlName="clienteresponsable" placeholder="Responsable *" (input)="autoCompletarCliente($event.target.value, 'responsable')" [matAutocomplete]="responsable">
                          <mat-autocomplete #responsable="matAutocomplete" [displayWith]="autoCompletarClienteLabel">
                            <mat-option *ngFor="let cliente of responsablesFiltrados" [value]="cliente">
                              {{ cliente.numero_documento }} - {{ cliente.nombres }}
                              {{ cliente.apellidos }} {{ cliente.razon_social }}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                        <!-- <mat-form-field class="example-full-width">
                          <mat-select
                            placeholder="Responsable"
                            formControlName="id_clienteresponsable"
                          >
                            <mat-option
                              [value]="c.id_cliente"
                              *ngFor="let c of clientes"
                            >
                              {{ c.numero_documento }} - {{ c.nombres }}
                              {{ c.apellidos }} {{ c.razon_social }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> -->
                      </div>
                    </div>
                    <div
                      class="col-md-6"
                      style="padding: 10px; border-left: 1px solid #ccc"
                    >
                      <h5><strong>Autorizado</strong></h5>
                      <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="fill">
                          <!-- <mat-label>Autorizado</mat-label> -->
                          <input type="text" matInput formControlName="clienteautorizado" placeholder="Autorizado *" (input)="autoCompletarCliente($event.target.value, 'autorizado')" [matAutocomplete]="autorizado">
                          <mat-autocomplete #autorizado="matAutocomplete" [displayWith]="autoCompletarClienteLabel">
                            <mat-option *ngFor="let cliente of autorizadosFiltrados" [value]="cliente">
                              {{ cliente.numero_documento }} - {{ cliente.nombres }}
                              {{ cliente.apellidos }} {{ cliente.razon_social }}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                        <!-- <mat-form-field class="example-full-width">
                          <mat-select
                            placeholder="Autorizado"
                            formControlName="id_clienteautorizado"
                          >
                            <mat-option
                              [value]="c.id_cliente"
                              *ngFor="let c of clientes"
                            >
                              {{ c.numero_documento }} - {{ c.nombres }}
                              {{ c.apellidos }} {{ c.razon_social }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> -->
                      </div>
                      <div class="row">
                        <div class="col-12" align="center">
                          <mat-button-toggle-group
                            class="w-75"
                            name="fontStyle"
                            aria-label="Font Style"
                          >
                            <mat-button-toggle
                              class="w-50"
                              value="true"
                              [checked]="pago_efectivo" 
                              (click)="cambiarModoPago('efectivo')"
                              >Efectivo</mat-button-toggle
                            >
                            <mat-button-toggle
                              class="w-50"
                              value="false"
                              [checked]="pago_transferencia" 
                              (click)="cambiarModoPago('transferencia')"
                              >Transferencia</mat-button-toggle
                            >
                          </mat-button-toggle-group>
                        </div>

                   
                      </div>

                      <div *ngIf="pago_efectivo">
                        <div class="row mx-2">
                          <div class="col mt-1">
                            <mat-form-field>
                              <mat-select placeholder="Tipo de pago" formControlName="tipo_pago_efectivo" (change)="cambiarModoPago('efectivo')" [(ngModel)]="tipo_efectivo">
                                <mat-option [value]="2">
                                  Pago en efectivo
                                </mat-option>
                                <mat-option [value]="3">
                                  Recaudo/Convenio
                                </mat-option>
                                <mat-option [value]="4">
                                  Deposito Judicial
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                      
                      
                          <div class="col" *ngIf="tipo_efectivo != 2">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Referencia" type="text" formControlName="numero_cuenta" />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="pago_transferencia">
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <mat-select
                                placeholder="Entidad Bancaria"
                                formControlName="entidad_bancaria"
                              >
                                <mat-option
                                  [value]="b.id_entidad_bancaria"
                                  *ngFor="let b of bancos"
                                >
                                  {{ b.entidad_bancaria }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <mat-select
                                placeholder="Tipo de Cuenta"
                                formControlName="id_tipo_cuenta"
                              >
                                <mat-option
                                  [value]="t.id_tipo_cuenta"
                                  *ngFor="let t of tipocuentas"
                                >
                                  {{ t.tipo_cuenta }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                              <input
                                matInput
                                placeholder="Numero De Cuenta"
                                type="number"
                                formControlName="numero_cuenta"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <h5><strong>Parametros</strong></h5>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row">
                        <mat-checkbox class="col-auto align-self-center" [checked]="esPrimerContrato" (change)="buscarPuntosDeVenta(!($event.checked))">Es primer contrato del PDV</mat-checkbox>
                        <mat-form-field class="col">
                          <mat-select
                            placeholder="Punto de venta"
                            formControlName="id_punto_venta"
                          >
                            <mat-option
                              [value]="p.id_punto_venta"
                              *ngFor="let p of pdv"
                            >
                              {{p.codigo_sitio_venta}} - {{ p.nombre_comercial }}
                            </mat-option>
                            <mat-option  *ngIf="pdv.length < 1" disabled>
                              No hay sitio disponibles
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Fecha Inicio Contrato"
                          type="date"
                          formControlName="fecha_inicio_contrato"
                        />
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Fecha Fin Contrato"
                          type="date"
                          formControlName="fecha_fin_contrato"
                        />
                      </mat-form-field>
                    </div>

                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Canon de arrendamiento"
                          type="number"
                          formControlName="valor_canon"                          
                        />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <!-- <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Valor Administracion $$$"
                          type="number"
                          formControlName="valor_adminstracion"
                        />
                      </mat-form-field>
                    </div> -->

                    <div class="col-4">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Porcentaje de aumento adicional %"
                          type="number"
                          formControlName="incremento_adicional"
                        />
                      </mat-form-field>
                    </div>

                    <div class="col-3">
                      <mat-form-field class="example-full-width">
                        <input
                          matInput
                          placeholder="Años de prorroga"
                          type="number"
                          formControlName="anios_prorroga"
                          [min]="0"
                        />
                      </mat-form-field>
                    </div>

                    <div class="col-1">
                      <br />
                      <mat-checkbox
                        class="example-margin"
                        formControlName="incremento_anual"
                        value="true"
                        >IPC</mat-checkbox
                      >
                      <!-- </mat-form-field> -->
                    </div>

                    <div class="col-1">
                      <br />
                      <mat-checkbox
                        class="example-margin"
                        formControlName="poliza"
                        value="true"
                        >Poliza</mat-checkbox
                      >
                    </div>
                  </div>

                  <hr />
                  <h5><strong>Conceptos</strong></h5>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <mat-select
                          placeholder="Conceptos"
                          (selectionChange)="addConceptos($event.value)"
                          formControlName="Conceptos"
                          
                        >
                          <mat-option
                            [value]="a.id_concepto"
                            *ngFor="let a of conceptos"
                          >
                            {{ a.codigo_concepto }} - {{ a.nombre_concepto }}
                            <!-- {{ a.entidad_bancaria }} {{ a.numero_cuenta }} -->
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                <hr />

                <div class="row" *ngIf="conceptosTabla.length > 0">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-header card-header-success">
                        <h4 class="card-title">Conceptos de contrato</h4>
                        <p class="card-category">
                          Aqui se registran los conceptos presentes en el
                          contrato
                        </p>
                      </div>
                      <div class="card-body" [ngClass]="conceptosTabla.length > 2 ? 'scrollCard' : ''">
                        <div class="table-responsive" >
                          <table class="table" style="text-align:center;">
                            <thead class="text-info">
                              <th>CODIGO</th>
                              <th>NOMBRE CONCEPTO</th>
                              <th>Valor</th>
                              <th>ACCIONES</th>
                            </thead>
                            <tbody>
                              <tr
                                *ngFor="let pt of conceptosTabla; let i = index"
                              >
                                <td>{{ pt.codigo_concepto }}</td>
                                <td>{{ pt.nombre_concepto }}</td>
                                <td><input type="number" class="input" (change)="actualizarValorConcepto(i, $event.target.value)" [value]="pt.valor" [style.width.px]="100"></td>

                                <td>
                                  <button
                                    class="btn btn-danger"
                                    type="button"
                                    (click)="deliCon(i)"
                                  >
                                    <span class="material-symbols-outlined">
                                      eliminar
                                    </span>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                         <!-- <p class="text-center bg-primary text-white p-2 rounded">Hola = {{valorTotal}}</p> -->
                      </div>
                      <hr>
                      <!-- <div class="card-footer">Total Valor = {{valorTotal.toLocaleString('es-ES')}}</div> -->
                      <div class="card-footer">Valor total : <span class="valor-destacado"> $ {{valorTotal.toLocaleString('es-ES')}}</span></div>
                    </div>
                  </div>
                </div>

                  <hr />
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <textarea
                          matInput
                          placeholder="Observaciones"
                          rows="5"
                          formControlName="definicion"
                        ></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <button
                    mat-raised-button
                    type="reset"
                    class="btn btn-danger pull-right"
                    id="button-limpiar"
                    (click)="limpiarContrato()"
                  >
                    Limpiar
                  </button>
                  <button
                    mat-raised-button
                    type="submit"
                    class="btn btn-info pull-right"
                    id="button-guardar"
                    *ngIf="inhabilitar_save == false"
                  >
                    Guardar
                  </button>
                </form>
              </mat-expansion-panel>
            </mat-accordion>

            <!-- <div class="clearfix"></div> -->

            <!--Gestion Contratos-->
            <hr>
            <mat-accordion>
              <mat-expansion-panel hideToggle> </mat-expansion-panel>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header (click)="tablaContratos()">
                  <mat-panel-title>
                    <h6 class="text-info">Gestión de contratos</h6>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <hr>
                <h5><strong>Filtro para buscar información en la tabla</strong></h5>
                <mat-form-field appearance="standard">
                  <mat-label>Buscar información por cualquier valor de las columnas</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
                </mat-form-field>
                
                <table mat-table [dataSource]="dataSourceContratos" class="mat-elevation-z8 tabla-contratos">
                
                  <ng-container matColumnDef="Codigo_Punto_Venta">
                    <th mat-header-cell *matHeaderCellDef> Codigo Punto de Venta </th>
                    <td mat-cell *matCellDef="let element"> {{element.id_punto_venta}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Numero_documento">
                    <th mat-header-cell *matHeaderCellDef> N° de documento </th>
                    <td mat-cell *matCellDef="let element"> {{element.numero_documento}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Nombre_Comertcial">
                    <th mat-header-cell *matHeaderCellDef> Nombre Punto De Venta </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre_comercial}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="Inicio_Contrato">
                    <th mat-header-cell *matHeaderCellDef> Fecha Inicio Contrato </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha_inicio}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="Fin_Contrato">
                    <th mat-header-cell *matHeaderCellDef> Fecha Fin Contrarto </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha_fin}} </td>
                  </ng-container>

                  <ng-container matColumnDef="anios_prorroga">
                    <th mat-header-cell *matHeaderCellDef> Prorroga </th>
                    <td mat-cell *matCellDef="let element"> {{element.anios_prorroga}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element" >
                      <button
                        class="btn btn-info"
                        (click)="inhabilitarContrato(element)"
                        *ngIf="element.fecha_inhabilitado == null"
                        [disabled]="element.fecha_inhabilitado"
                        >Inhabilitar
                    </button>
                    <p  class="mb-0"  *ngIf="element.fecha_inhabilitado != null">Inhabilitado</p>
                    </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                  <!-- Row shown when there is no matching data. -->
                  <!-- <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">Cargando...</td>
                  </tr> -->

                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">No hay información</td>
                  </tr>

                </table>
                <mat-paginator 
                    [hidden]="dataSourceContratos.data.length < 1"
                    class="mat-elevation-z8"
                    #paginatorContratos
                    [pageSizeOptions]="[20]"
                    showFirstLastButtons
                  >
                </mat-paginator>
                <hr>
              </mat-expansion-panel>
            </mat-accordion>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
