<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Registro</h4>
                        <p class="card-category">Selecciona que quieres registrar</p>
                    </div>
                    <div class="card-body">
                      
                            <mat-accordion>
                                <mat-expansion-panel >
                                  <mat-expansion-panel-header>
                                    
                                    <mat-panel-title>
                                        <h6 class="text-info">Datos Del Tercero</h6>
                                    </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <div class="row">
                                    <div class="col-md-2">
                                      <mat-form-field class="example-full-width" >
                                            
                                 
                                          <mat-select placeholder="Tipo De Identificacion" formControlName ="tipo_documento">
                                            <mat-option  value="Cedula" >
                                              CEDULA
                                            </mat-option>
                                          </mat-select>
                                        </mat-form-field> 
                                    </div>

                               
                                    <div class="col-md-2">
                                      <mat-form-field class="example-full-width" >
                                          <input matInput placeholder="Fecha De Solicitud" type="date" formControlName ="fecha_solicitud">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width" >
                                          <input matInput placeholder="Nombre del solicitante" type="text" formControlName ="nombre_solicitante" >
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2">
                                        <mat-form-field class="example-full-width" >
                                          <input matInput placeholder="Cargo" type="text" formControlName ="cargo" >
                                        </mat-form-field>
                                    </div>
                                  
                                    <div class="col-md-3">
                                        <mat-form-field class="example-full-width" >
                                          <input matInput placeholder="Encargado" type="text" formControlName ="encargado">
                                        </mat-form-field>
                                    </div>
                                   
                                </div>

                                </mat-expansion-panel>
                              </mat-accordion>

           
                    </div>
                </div>
            </div></div></div></div>

                           

                      

                       


                      
                 



                      

   

  
