.card{
    background: #e8e8e8; /* por ejemplo */
    font-size: 18px; /* por ejemplo */
    border-radius: 25px;
  }
#banner{
    border-radius: 25px;
    background: #ffe203;
    
}
.card-category{
    color: #1b4f35 !important;
    font-weight: bold;
    font-size: 12px;
}
.card-title{
    color: #1b4f35 !important;
    font-weight: 900;
    font-size: 18px;
}
.example-full-width{
    font-size: medium;
    margin: auto;
    border-radius: 25px;
}
.card-body{
    border-radius: 25px;
}
#mat-expansion-panel-header-1{
    border-radius: 25px;
}
.mat-accordion .mat-expansion-panel:last-of-type{
    border-radius: 25px;
}
.text-info{
    color: #359b68 !important;
    font-weight: 900;
}
#button-guardar{
    background-color: #1b4f35 !important;
    border-radius: 25px !important;
}
#button-efectivo{
    background-color: #1b4f35 !important;
    border-radius: 25px !important;
}
#button-tarjeta{
    background-color: #1b4f35 !important;
    border-radius: 25px !important;
}
.w-75{
    border-radius: 25px;
}
.w-50{
    border-radius: 25px;
}
.mat-button-toggle-checked{
    background-color: #1b4f3594;
}
::ng-deep .mat-select-content{
    background-color: #1b4f35;
}