.card{
    background: #e8e8e8; /* por ejemplo */
    font-size: 18px; /* por ejemplo */
    border-radius: 25px;
  }
#banner{
    border-radius: 25px;
    background: #ffe203;    
}
.card-category{
    color: #1b4f35 !important;
    font-weight: bold;
    font-size: 12px;
}
.card-title{
    color: #1b4f35 !important;
    font-weight: 900;
    font-size: 18px;
}
.example-full-width{
    font-size: medium;
    margin: auto;
    border-radius: 25px;
}
.card-body{
    border-radius: 25px;
}
#mat-expansion-panel-header-1{
    border-radius: 25px;
}
.mat-accordion .mat-expansion-panel:last-of-type{
    border-radius: 25px;
}
.text-info{
    color: #359b68 !important;
    font-weight: 900;
}
#button-limpiar{
    /* background-color: #1b4f35 !important; */
    border-radius: 25px !important;
    background-color: red;
}
#button-guardar{
    background-color: green !important;
    border-radius: 25px !important;
}
#button-efectivo{
    background-color: #1b4f35 !important;
    border-radius: 25px !important;
}
#button-tarjeta{
    background-color: #1b4f35 !important;
    border-radius: 25px !important;
}
#button-consultar{
    background-color: green !important;
    border-radius: 25px !important;
}
.w-75{
    border-radius: 25px;
}
.w-50{
    border-radius: 25px;
}
.mat-button-toggle-checked{
    background-color: #1b4f3594;
}
::ng-deep .mat-select-content{
    background-color: #1b4f35;
}

.input {
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.btn {
    border-radius: 25px;
    background-color : red;
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  display: none;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #007bff;
}

.scrollCard{
    height: 50vh; 
    overflow-y: auto;
}

.card-footer {
    border: 2px solid #28a745;
    padding: 12px;
    font-size: 1em;
    font-weight: bold;
    color: #212529;
    text-align: right;
    border-radius: 25px;
  }

  .valor-destacado {
    color: #323334;
  }

.tabla-contratos {
    text-align: center;
    width: 100%;    
}

.tabla-contratos .mat-header-cell {
    font-size: 14px;
    text-align: center;
}

.tabla-contratos .mat-cell {
    text-align: center;
}